---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='AllergyIntolerance' id='allergyIntolerance-cat-dander-allergy' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: AllergyIntolerance/allergyIntolerance-cat-dander-allergy - Change History</h2>
  <p>History of changes for allergyIntolerance-cat-dander-allergy {{type | downcase}}.</p>

  {%include AllergyIntolerance-allergyIntolerance-cat-dander-allergy-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
