---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='MedicationAdministration' id='morphine-hospitalization' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: MedicationAdministration/morphine-hospitalization - Change History</h2>
  <p>History of changes for morphine-hospitalization {{type | downcase}}.</p>

  {%include MedicationAdministration-morphine-hospitalization-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
