---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='NamingSystem' id='nurse-registration' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: Israeli Ministry of Health nurse registration - Change History</h2>
  <p>History of changes for nurse-registration {{type | downcase}}.</p>

  {%include NamingSystem-nurse-registration-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
