---
---
<!-- get modelType -->
{% include fragment-modelType.html id='ext-allergy-intolerance-end' %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section 5" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='ext-allergy-intolerance-end' active='mapping' %}

<a name="root"> </a>
<h2 id="root">{{modelType}}: AllergyIntoleranceEnd - Mappings</h2>
{% include fragment-simpletable.html %}

<p>Mappings for the ext-allergy-intolerance-end {{modelType | downcase }}.</p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='StructureDefinition' id='ext-allergy-intolerance-end' %}

  {%include StructureDefinition-ext-allergy-intolerance-end-maps.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='StructureDefinition' id='ext-allergy-intolerance-end' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
